<a href="https://colab.research.google.com/github/jramso/poo-JAVA-IFES/blob/main/POOflix/Colab/POOflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# - POOFLIX - <br>

# Conexão com postgres e Relatorios do Sistema

## Instalando bibliotecas de acesso ao postgres, manipulação de dados e gráficos

In [ ]:
!pip install psycopg2-binary
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 7.7 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Importando bibliotecas

In [3]:
import pandas as pd
import psycopg2 
from psycopg2 import Error

In [49]:
##Ator
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabator.txt'
df = pd.read_csv(url)
df.to_csv('tabator.txt', na_rep='',index=False)

##Categoria
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabcategoria.txt'
df = pd.read_csv(url)
df.to_csv('tabcategoria.txt', na_rep='',index=False)

##Categserie
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabcategserie.txt'
df = pd.read_csv(url)
df.to_csv('tabcategserie.txt', na_rep='',index=False)
##Performance
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabperformance.txt'
df = pd.read_csv(url)
df.to_csv('tabperformance.txt', na_rep='',index=False)
##Personagem
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabpersonagem.txt'
df = pd.read_csv(url)
df.to_csv('tabpersonagem.txt', na_rep='',index=False)
##Serie
url = 'https://raw.githubusercontent.com/jramso/poo-JAVA-IFES/main/POOflix/docs/tabserie.txt'
df = pd.read_csv(url)
df.to_csv('tabserie.txt', na_rep='',index=False)

##Episodio
## Faça Upload manual de tabepisodio.txt
# FLW VLW
from google.colab import files 
uploaded = files.upload()

Saving tabepisodio.txt to tabepisodio.txt

### Preenchendo dados de database

In [36]:
#Using Elephantsql.com
h="motty.db.elephantsql.com" #host
dt="mfdbjbho" #database name
u="mfdbjbho" #user database
pa="tXjGYj5HTRaOSbi-6oGfx20zGKRAeCP6" #password database

### Conectando e Criando as tabelas

In [37]:
  try:
    conn=psycopg2.connect(host=h,
                          database=dt,
                          user=u,
                          password=pa)

    cursor = conn.cursor()
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE ator
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL, 
          NACIONALIDADE        VARCHAR(100)not null); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE categoria
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE serie
          (ID INT PRIMARY KEY     NOT NULL,
          TITULO           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE CATEGSERIE
          (IDserie INT   NOT NULL,
          IDcateg int not null); '''
    # Execute a command: thi creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE PERSONAGEM
          (ID INT PRIMARY KEY     NOT NULL,
          NOME           VARCHAR(150)    NOT NULL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE PERFORMANCE
          (ID SERIAL PRIMARY KEY     NOT NULL,
          IDep int   NOT NULL,
          IDpers int not null,
          IDator int not null); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")
    #--------------------------------------------------
    # SQL query to create a new table
    create_table_query = '''CREATE TABLE EPISODIO
          (ID INT PRIMARY KEY     NOT NULL,
          numEP int not null,
          TEMPORADA int not null,
          TITULO VARCHAR(100)   NOT NULL,
          RESUMO VARCHAR(500) not null); '''
    # Execute a command: thi creates a new table
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully in PostgreSQL ")

  except (Exception, Error) as error:
      print("Error while connecting to PostgreSQL", error)
  finally:
      if conn:
          cursor.close()
          conn.close()
          print("PostgreSQL connection is closed")

Error while connecting to PostgreSQL relation "ator" already exists

PostgreSQL connection is closed

In [ ]:
conn


# Only if necessary

In [47]:
try:
    conn = psycopg2.connect(user=u,
                                password=pa,
                                host=h,
                                database=dt)

    cursor = conn.cursor()

    # Update single record now
    sql_delete_query = """Delete from Ator"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Categoria"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Episodio"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Personagem"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from Performance"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from categserie"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")
    # Update single record now
    sql_delete_query = """Delete from serie"""
    cursor.execute(sql_delete_query)
    conn.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")

except (Exception, psycopg2.Error) as error:
    print("Error in Delete operation", error)

finally:
    # closing database connection.
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed")

65 Record deleted successfully
7 Record deleted successfully
0 Record deleted successfully
0 Record deleted successfully
0 Record deleted successfully
3 Record deleted successfully
1 Record deleted successfully
PostgreSQL connection is closed

#Criando Listas de dados .txt pra inserção

In [39]:
def criaLista(file):
  Lista=[]
  try:
    with open(file, "r+") as f:
      # Fazer algo com cada linha
      Lista=f.readlines()
    print("Lido")
  except FileNotFoundError:
    print("O arquivo não Existe");
  finally:
    return Lista;
    f.close()

ListaAtor=criaLista("tabator.txt")
ListaCat=criaLista("tabcategoria.txt")
ListaSerie=criaLista("tabserie.txt")
ListaEP=criaLista("tabepisodio.txt")
ListaCatSerie=criaLista("tabcategserie.txt")
ListaPerf=criaLista("tabperformance.txt")
ListaPers=criaLista("tabpersonagem.txt")

Lido
Lido
Lido
Lido
Lido
Lido
Lido

## Iniciando os inserts

In [48]:
try:
  conn=psycopg2.connect(host=h,
                        database=dt, 
                        user=u,
          password=pa)
  cursor = conn.cursor()
  
  for i in range(len(ListaAtor)):
    postgres_insert_query = """ INSERT INTO  ator(ID, nome, nacionalidade) VALUES (%s,%s,%s)"""
    insert=ListaAtor[i].split(";")
    id=insert[0]
    nome=insert[1]
    nacionalidade=insert[2].replace("\n","")

    record_to_insert = (id,nome,nacionalidade)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into ator table")
  #-------------------------------------------------------------------
  for i in range(len(ListaCat)):
    postgres_insert_query = """ INSERT INTO  categoria(ID, nome) VALUES (%s,%s)"""
    insert=ListaCat[i].split(";")
    idC=insert[0]
    nomeC=insert[1].replace("\n","")

    record_to_insert = (idC,nomeC)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categoria table")
  #----------------------------------------------------------------
  for i in range(len(ListaSerie)):
    postgres_insert_query = """ INSERT INTO  serie(ID, titulo) VALUES (%s,%s)"""
    insert=ListaSerie[i].split(";")
    idS=insert[0]
    nomeS=insert[1].replace("\n","")

    record_to_insert = (idS,nomeS)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into serie table")
  #----------------------------------------------------------------
  for i in range(len(ListaCatSerie)):
    postgres_insert_query = """ INSERT INTO  categSerie(IDserie, idcateg) VALUES (%s,%s)"""
    insert=ListaCatSerie[i].split(";")
    FKidS=insert[0]
    FKidCS=insert[1].replace("\n","")
    record_to_insert = (FKidS,FKidCS)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into categserie table")
  #----------------------------------------------------------------
  for i in range(len(ListaEP)):
    postgres_insert_query = """ INSERT INTO Episodio(ID,numEP,temporada,titulo, resumo) VALUES (%s,%s,%s,%s,%s)"""
    insert=ListaEP[i].split(";")
    idEP=insert[0]
    numEP=insert[1]
    tempEP=insert[2]
    tituloEP=insert[3]
    resumoEP=insert[4].replace("\n","")

    record_to_insert = (idEP,numEP,tempEP,tituloEP,resumoEP)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into episodio table")
  #---------------------------------------------------------------------------
  for i in range(len(ListaPers)):
    postgres_insert_query = """ INSERT INTO  Personagem(ID, nome) VALUES (%s,%s)"""
    insert=ListaPers[i].split(";")
    idP=insert[0]
    nomeP=insert[1].replace("\n","")

    record_to_insert = (idP,nomeP)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into Personagem table")
  #---------------------------------------------------------------------------
  for i in range(len(ListaPerf)):
    postgres_insert_query = """ INSERT INTO  Performance(IDep,idPers,idator) VALUES (%s,%s,%s)"""
    insert=ListaPerf[i].split(";")
    FKideP=insert[0]
    FKidPers=insert[1]
    FKidAtor=insert[2].replace("\n","")
    record_to_insert = (FKideP,FKidPers,FKidAtor)
    cursor.execute(postgres_insert_query, record_to_insert)
    
    conn.commit()
    count=cursor.rowcount;
    print(count+i, "Record inserted successfully into Performance table")

  
except (Exception, psycopg2.Error) as error:
    print("Failed to insert record into a table with list", error)
  
finally:
    # closing database connection.
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed")

1 Record inserted successfully into ator table
2 Record inserted successfully into ator table
3 Record inserted successfully into ator table
4 Record inserted successfully into ator table
5 Record inserted successfully into ator table
6 Record inserted successfully into ator table
7 Record inserted successfully into ator table
8 Record inserted successfully into ator table
9 Record inserted successfully into ator table
10 Record inserted successfully into ator table
11 Record inserted successfully into ator table
12 Record inserted successfully into ator table
13 Record inserted successfully into ator table
14 Record inserted successfully into ator table
15 Record inserted successfully into ator table
16 Record inserted successfully into ator table
17 Record inserted successfully into ator table
18 Record inserted successfully into ator table
19 Record inserted successfully into ator table
20 Record inserted successfully into ator table
21 Record inserted successfully into ator table
22 Record inserted successfully into ator table
23 Record inserted successfully into ator table
24 Record inserted successfully into ator table
25 Record inserted successfully into ator table
26 Record inserted successfully into ator table
27 Record inserted successfully into ator table
28 Record inserted successfully into ator table
29 Record inserted successfully into ator table
30 Record inserted successfully into ator table
31 Record inserted successfully into ator table
32 Record inserted successfully into ator table
33 Record inserted successfully into ator table
34 Record inserted successfully into ator table
35 Record inserted successfully into ator table
36 Record inserted successfully into ator table
37 Record inserted successfully into ator table
38 Record inserted successfully into ator table
39 Record inserted successfully into ator table
40 Record inserted successfully into ator table
41 Record inserted successfully into ator table
42 Record inserted successfully into ator table
43 Record inserted successfully into ator table
44 Record inserted successfully into ator table
45 Record inserted successfully into ator table
46 Record inserted successfully into ator table
47 Record inserted successfully into ator table
48 Record inserted successfully into ator table
49 Record inserted successfully into ator table
50 Record inserted successfully into ator table
51 Record inserted successfully into ator table
52 Record inserted successfully into ator table
53 Record inserted successfully into ator table
54 Record inserted successfully into ator table
55 Record inserted successfully into ator table
56 Record inserted successfully into ator table
57 Record inserted successfully into ator table
58 Record inserted successfully into ator table
59 Record inserted successfully into ator table
60 Record inserted successfully into ator table
61 Record inserted successfully into ator table
62 Record inserted successfully into ator table
63 Record inserted successfully into ator table
64 Record inserted successfully into ator table
65 Record inserted successfully into ator table
1 Record inserted successfully into categoria table
2 Record inserted successfully into categoria table
3 Record inserted successfully into categoria table
4 Record inserted successfully into categoria table
5 Record inserted successfully into categoria table
6 Record inserted successfully into categoria table
7 Record inserted successfully into categoria table
1 Record inserted successfully into serie table
1 Record inserted successfully into categserie table
2 Record inserted successfully into categserie table
3 Record inserted successfully into categserie table
Failed to insert record into a table with list unsupported operand type(s) for //: 'str' and 'int'
PostgreSQL connection is closed

# 9. Select das tabelas (Cada uma)

In [41]:
conn=psycopg2.connect(host=h,
                        database=dt, 
                        user=u,
          password=pa)

In [43]:
res = pd.read_sql_query("""select * from personagem """,conn)
res

Empty DataFrame
Columns: [id, nome]
Index: []

In [44]:
res = pd.read_sql_query("""select * from performance """,conn)
res

Empty DataFrame
Columns: [id, idep, idpers, idator]
Index: []

In [ ]:
res = pd.read_sql_query("""select * from ator """,conn)
res

    id                   nome nacionalidade
0    1           Rory Kinnear     Britânica
1    2         Lindsay Duncan     Britânica
2    3         Daniel Kaluuya     Britânica
3    4  Jessica Brown Findlay     Britânica
4    5         Rupert Everett     Britânica
..  ..                    ...           ...
60  61           Topher Grace     Britânica
61  62            Miley Cyrus     Britânica
62  63          Angourie Rice     Britânica
63  64      Madison Davenport     Britânica
64  65          Susan Pourfar     Britânica

[65 rows x 3 columns]

In [ ]:
res = pd.read_sql_query("""select * from episodio """,conn)
res

,id,numep,temporada,titulo,resumo
0,1,1,1,The National Anthem,"Princess Susannah, a British royal family memb..."
1,2,2,1,Fifteen Million Merits,Bing lives in a society where the majority of ...
2,3,3,1,The Entire History of You,"With the implantation of a device called a ""gr..."
3,4,1,2,Be Right Back,Martha's boyfriend Ash is killed while returni...
4,5,2,2,White Bear,A woman wakes up in a house with amnesia. Peop...
5,6,3,2,The Waldo Moment,Jamie Salter controls a computer-animated bear...
6,7,1,3,Nosedive,"Using eye implants and mobile devices, people ..."
7,8,2,3,Playtest,"After Cooper's father dies, Cooper travels the..."
8,9,3,3,Shut Up and Dance,A hacker records Kenny masturbating via his we...
9,10,4,3,San Junipero,"In 1987, the shy Yorkie meets the outgoing Kel..."
10,11,5,3,Men Against Fire,Soldiers are exterminating mutated humans call...
11,12,6,3,Hated in the Nation,"To counteract near-extinction of bees, Granula..."
12,13,1,4,USS Callister,Callister Inc. produces the multiplayer game I...
13,14,2,4,Arkangel,Marie briefly loses her three-year-old daughte...
14,15,3,4,Crocodile,"Rob hits a cyclist on a mountain road, killing..."
15,16,4,4,Hang the DJ,Frank and Amy use an electronic device called ...
16,17,5,4,Metalhead,The episode is filmed in black and white. Bell...
17,18,6,4,Black Museum,Nish visits the Black Museum run by Rolo Hayne...
18,19,1,5,Striking Vipers,Danny hosts a birthday party with his wife The...
19,20,2,5,Smithereens,"At group therapy, Chris meets Hayley, whose da..."
20,21,3,5,"Rachel, Jack and Ashley Too","Rachel and Jack live with their father, who i..."

In [ ]:
res = pd.read_sql_query("""select * from serie """,conn)
res

   id        titulo
0   1  black mirror

In [ ]:
res = pd.read_sql_query("""select * from categserie """,conn)
res

   idserie  idcateg
0        1        4
1        1        5
2        1        7

In [ ]:
res = pd.read_sql_query("""select * from categoria """,conn)
res

   id       nome
0   1    COMEDIA
1   2       AÇÃO
2   3   AVENTURA
3   4      DRAMA
4   5  VIOLÊNCIA
5   6       SEXO
6   7  LINGUAGEM